<h1 class="text-center">Liste des produits</h1>

<p-button label="Créer produit" (onClick)="onCreate()" class="block text-center"/>
<div class="p-fluid mb-4">
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" [(ngModel)]="searchQuery"
               (input)="filterProducts()" placeholder="Rechercher des produits..." />
    </span>
</div>
<p-dataView #dv [value]="filteredProducts" [paginator]="true" [rows]="rowsPerPage">
    <ng-template pTemplate="list" let-products>
        @for (product of products; track product) {
            <p-card class="block mb-2">
                <span class="font-medium text-secondary text-sm">{{ product.category }}</span>
                <div class="text-lg font-medium text-900 mt-2">{{ product.name }}</div>
                <div class="text-lg font-medium text-900 mt-2">{{ product.description }}</div>
                <div class="text-lg font-medium text-900 mt-2">Prix: {{ product.price }} €</div>
                <div class="text-lg font-medium text-900 mt-2">Quantité: {{ product.quantity }}</div>
                <div class="text-lg font-medium text-900 mt-2">Statut: {{ product.inventoryStatus }}</div>
                <div class="text-lg font-medium text-900 mt-2">Note: {{ product.rating }}</div>

                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                      <p-button label="Ajouter au panier" severity="success" (onClick)="addToCart(product)" />
                      <p-button label="Retirer du panier" severity="danger" (onClick)="removeFromCart(product)" />
                      <p-button label="Modifier" severity="secondary" (onClick)="onUpdate(product)" />
                        <p-button label="Supprimer" severity="danger" (onClick)="onDelete(product)" />
                    </div>
                </ng-template>
            </p-card>
        }
    </ng-template>
</p-dataView>
<p-dialog [(visible)]="isDialogVisible"
    [style]="{ width: '50vw' }"
    header="Ajout/Edition produit">
    <app-product-form
        [product]="editedProduct()"
        (save)="onSave($event)"
        (cancel)="onCancel()"
    />
</p-dialog>
